{
  "refName": "HDFS-1",
  "serviceType": "HDFS",
  "serviceConfigs": [
    {
      "name": "dfs_namenode_acls_enabled",
      "value": "true"
    }, {
      "name": "hadoop_security_authorization",
      "value": "true"
    }, {
      "name": "hadoop_security_authentication",
      {% if (krb5_kdc_type == 'ad') or (krb5_kdc_type == 'mit') %}
      "value": "kerberos"
      }, {
      "name" : "trusted_realms",
      "value" : "{{ trusted_realm|upper }},{{ default_realm|upper }}"
      }, {
      {% if cdh_tls == 'true' %}
      "name" : "dfs_data_transfer_protection",
      "value" : "privacy"
      }, {
      {% endif %}
      "name" : "hadoop_rpc_protection",
      "value" : "privacy"
      }, {
      "name" : "dfs_encrypt_data_transfer",
      "value" : "true"
      }, {
      "name": "hadoop_secure_web_ui",
      "value": "true"
      }
      {% else %}
      "value": "simple"
      }
      {% endif %}
    , {
      "name": "dfs_ha_fencing_methods",
      "value": "shell(true)"
     }, {
      "name" : "hdfs_sentry_sync_path_prefixes",
      "variable" : "SENTRY_SYNC_PATH_PREFIXES"
    }, {
      "name" : "dfs_umaskmode",
      "value" : "022"
    }, {
      "name" : "dfs_permissions_supergroup",
      "variable" : "HDFS_SUPERGROUP"
    }, {
      "name" : "dfs_namenode_acls_enabled",
      "value" : "true"
    }, {
      "name" : "hdfs_sentry_sync_enable",
      "value" : "true"
    }, {
      "name" : "dfs_block_local_path_access_user",
      "value" : "impala"
    }, {
      "name" : "audit_event_log_dir",
      "value" : "{{ log_base }}/hadoop-hdfs/audit"
    }, {
      "name" : "dfs_encrypt_data_transfer_algorithm",
      "value" : "AES/CTR/NoPadding"
    }, {
      "name": "zookeeper_service",
      "ref": "ZOOKEEPER-1"
    }
    {% if (cdh_tls) %}
    , {
      "name" : "hdfs_hadoop_ssl_enabled",
      "value" : "true"
    }, {
      "name" : "ssl_server_keystore_location",
      "value" : "{{ tls.keystore_path }}"
    }, {
      "name" : "ssl_client_truststore_location",
      "value" : "{{ tls.truststore_path }}"
    }, {
      "name" : "ssl_client_truststore_password",
      "value" : "{{ tls.truststore_password }}"
    }, {
      "name" : "ssl_server_keystore_keypassword",
      "value" : "{{ tls.keystore_password }}"
    }, {
      "name" : "ssl_server_keystore_password",
      "value" : "{{ tls.keystore_password }}"
    }
    {% endif %}
  ],
  "roleConfigGroups": [
    {
      "refName": "HDFS-1-FAILOVERCONTROLLER-BASE",
      "roleType": "FAILOVERCONTROLLER",
      "configs": [ {
        "name" : "failover_controller_log_dir",
        "value" : "{{ log_base }}/hadoop-hdfs"
      }, {
        "name" : "oom_heap_dump_enabled",
        "value" : "false"
      } ],
      "base": true
    }, {
      "refName": "HDFS-1-DATANODE-BASE",
      "roleType": "DATANODE",
      "configs": [
        {
          "name": "dfs_data_dir_list",
          "variable": "DFS_DATA_DIR_LIST"
        }
        {% if ((krb5_kdc_type == 'ad') or (krb5_kdc_type == 'mit')) and (cdh_tls == 'true') %}
         , {
          "name": "dfs_datanode_port",
          "value": "10040"
        }, {
          "name": "dfs_datanode_http_port",
          "value": "10060"
        }
           {% else %}
         , {
          "name": "dfs_datanode_port",
          "value": "1004"
        }, {
          "name": "dfs_datanode_http_port",
          "value": "1006"
        }
           {% endif %}
        , {
          "name" : "oom_heap_dump_enabled",
          "value" : "false"
        }, {
          "name" : "datanode_log_dir",
          "value" : "{{ log_base }}/hadoop-hdfs"
        }, {
          "name" : "dfs_datanode_data_dir_perm",
          "value" : "700"
        }, {
          "name" : "dfs_datanode_failed_volumes_tolerated",
          "value" : "{{ (((cdh_services | json_query('[?type==`hdfs`].dfs_data_dir_list') | first).split(',') | count ) / 2 ) | int }}"
        {% if (cdh_services | json_query('[?type==`hdfs`].datanode_max_locked_memory') | length > 0 )  %}
        }, {
          "name" : "dfs_datanode_max_locked_memory",
          "variable" : "DATANODE_MAX_LOCKED_MEMORY"
        {% endif %}
        {% if (cdh_services | json_query('[?type==`hdfs`].datanode_java_heapsize') | length > 0 )  %}
        }, {
          "name" : "datanode_java_heapsize",
          "variable" : "DATANODE_JAVA_HEAPSIZE"
        {% endif %}
        }
      ],
      "base": true
    }, {
      "refName": "HDFS-1-SECONDARYNAMENODE-BASE",
      "roleType": "SECONDARYNAMENODE",
      "configs": [
        {
          "name": "fs_checkpoint_dir_list",
          "variable": "FS_CHECKPOINT_DIR_LIST"
        }
      ],
      "base": true
    }, {
      "refName": "HDFS-1-NAMENODE-BASE",
      "roleType": "NAMENODE",
      "configs": [
        {
          "name": "dfs_federation_namenode_nameservice",
          "variable": "NAMESERVICE"
        }, {
          "name": "dfs_namenode_quorum_journal_name",
          "variable": "NAMESERVICE"
        }, {
          "name": "autofailover_enabled",
          "value": "true"
        }, {
          "name": "dfs_name_dir_list",
          "variable": "DFS_NAME_DIR_LIST"
        }, {
          "name" : "dfs_namenode_servicerpc_address",
          "value" : "8022"
        }, {
          "name" : "dfs_namenode_service_handler_count",
          "value" : "63"
        }, {
          "name" : "dfs_namenode_handler_count",
          "value" : "63"
        {% if (cdh_services | json_query('[?type==`hdfs`].namenode_java_heapsize') | length > 0 )  %}
        }, {
          "name" : "namenode_java_heapsize",
          "variable" : "NAMENODE_JAVA_HEAPSIZE"
        {% endif %}
        }, {
          "name" : "fs_trash_interval",
          "value" : "5760"
        }, {
          "name" : "namenode_log_dir",
          "value" : "{{ log_base }}/hadoop-hdfs"
        }, {
          "name" : "dfs_safemode_min_datanodes",
          "value" : "0"
        }
      ],
      "base": true
    }, {
      "refName": "HDFS-1-JOURNALNODE-BASE",
      "roleType": "JOURNALNODE",
      "configs": [
        {
          "name": "dfs_journalnode_edits_dir",
          "variable": "DFS_JOURNALNODE_EDITS_DIR"
        }, {
          "name" : "journalnode_log_dir",
          "value" : "{{ log_base }}/hadoop-hdfs"
        {% if (cdh_services | json_query('[?type==`hdfs`].jn_java_heapsize') | length > 0 )  %}
        }, {
          "name" : "journalNode_java_heapsiz",
          "variable" : "JN_JAVA_HEAPSIZE"
        {% endif %}
        }
      ],
      "base": true
    }, {
      "refName": "HDFS-1-HTTPFS-BASE",
      "roleType": "HTTPFS",
      "configs": [{
          "name" : "httpfs_log_dir",
          "value" : "{{ log_base }}/hadoop-httpfs" 
        }
        {% if (cdh_tls) %}
        , {
          "name" : "httpfs_use_ssl",
          "value" : "true"
        }, {
          "name" : "httpfs_https_keystore_file",
          "value" : "{{ tls.keystore_path }}"
        }, {
          "name" : "httpfs_https_truststore_file",
          "value" : "{{ tls.truststore_path }}"
        }, {
          "name" : "httpfs_https_keystore_password",
          "value" : "{{ tls.keystore_password }}"
        }, {
          "name" : "httpfs_https_truststore_password",
          "value" : "{{ tls.truststore_password }}"
       }
       {% endif %}
      ],
      "base": true
    }, {
      "refName": "HDFS-1-NFSGATEWAY-BASE",
      "roleType": "NFSGATEWAY",
      "configs": [],
      "base": true
    }, {
      "refName": "HDFS-1-BALANCER-BASE",
      "roleType": "BALANCER",
      "configs": [
      {% if (cluster_version_cdh_major >= '6') %}
      {
        "name" : "balancer_log_dir",
        "value" : "{{ log_base }}/hadoop-hdfs"
      }
      {% endif %} ],
      "base": true
    }, {
      "refName": "HDFS-1-GATEWAY-BASE",
      "roleType": "GATEWAY",
      "configs": [
        {
          "name": "dfs_client_use_trash",
          "value": "true"
        }
      ],
      "base": true
    }
  ]
}
