{
  "refName": "SENTRY-1",
  "serviceType": "SENTRY",
  "serviceConfigs": [
     {
      "name" : "sentry_service_admin_group",
      "variable" : "SENTRY_ADMIN_GROUP"
    }, {
      "name" : "sentry_service_allow_connect",
      "variable" : "SENTRY_ALLOW_CONNECT"
    }, {
      "name": "sentry_server_database_host",
      "value": "{{ databases.sentry.host }}"
    }, {
      "name": "sentry_server_database_type",
      "value": "{{ databases.sentry.type }}"
    }, {
      "name": "sentry_server_database_name",
      "value": "{{ databases.sentry.name }}"
    }, {
      "name": "sentry_server_database_user",
      "value": "{{ databases.sentry.user }}"
    }, {
      "name": "sentry_server_database_password",
      "value": "{{ databases.sentry.pass }}"
    }, {
      "name": "sentry_server_database_port",
      "value": "{{ databases.sentry.port }}"
    }, {
      "name": "zookeeper_service",
      "ref": "ZOOKEEPER-1"
    }, {
      "name": "hdfs_service",
      "ref": "HDFS-1"
    }, {
      "name" : "audit_event_log_dir",
      "value" : "{{ log_base }}/sentry/audit"
    }, {
      "name" : "process_username",
      "variable" : "SENTRY_USER"
    }
  ],
  "roleConfigGroups": [
    {
      "refName": "SENTRY-1-GATEWAY-BASE",
      "roleType": "GATEWAY",
      "base": true
    }, {
      "refName": "SENTRY-1-SENTRY_SERVER-BASE",
      "roleType": "SENTRY_SERVER",
      "configs": [ {
        "name" : "sentry_server_log_dir",
        "value" : "{{ log_base }}/sentry"
      } ],
      "base": true
    }
  ]
}
