{
  "name": "mgmt",
  "type": "MGMT",
  "type" : "MGMT",
    "config" : {
      "items" : [ 
      {% if (scm_web_tls) %}
      {
        "name" : "ssl_client_truststore_location",
        "value" : "{{ tls.truststore_path }}"
      }
      {% endif %}
      ]
    },
  "roles": [
    {
      "name": "mgmt-SERVICEMONITOR",
      "type": "SERVICEMONITOR",
      "hostRef": {
        "hostId": "{{ scm_host_ids[scm_hostname] }}"
      }
    }, {
      "name": "mgmt-ACTIVITYMONITOR",
      "type": "ACTIVITYMONITOR",
      "roleConfigGroupRef": {
        "roleConfigGroupName": "mgmt-ACTIVITYMONITOR-BASE"
      },
      "hostRef": {
        "hostId": "{{ scm_host_ids[scm_hostname] }}"
      }
    }, {
      "name": "mgmt-HOSTMONITOR",
      "type": "HOSTMONITOR",
      "hostRef": {
        "hostId": "{{ scm_host_ids[scm_hostname] }}"
      }
    }, {
      "name": "mgmt-REPORTSMANAGER",
      "type": "REPORTSMANAGER",
      "roleConfigGroupRef": {
        "roleConfigGroupName": "mgmt-REPORTSMANAGER-BASE"
      },
      "hostRef": {
        "hostId": "{{ scm_host_ids[scm_hostname] }}"
      }
    }, {
      "name": "mgmt-EVENTSERVER",
      "type": "EVENTSERVER",
      "hostRef": {
        "hostId": "{{ scm_host_ids[scm_hostname] }}"
      }
    }, {
      "name": "mgmt-ALERTPUBLISHER",
      "type": "ALERTPUBLISHER",
      "hostRef": {
        "hostId": "{{ scm_host_ids[scm_hostname] }}"
      }
    }, {
      "name": "mgmt-NAVIGATOR",
      "type": "NAVIGATOR",
      "roleConfigGroupRef": {
        "roleConfigGroupName": "mgmt-NAVIGATOR-BASE"
      },
      "hostRef": {
        "hostId": "{{ scm_host_ids[scm_hostname] }}"
      }
    }, {
      "name": "mgmt-NAVIGATORMETASERVER",
      "type": "NAVIGATORMETASERVER",
      "roleConfigGroupRef": {
        "roleConfigGroupName": "mgmt-NAVIGATORMETASERVER-BASE"
      },
      "hostRef": {
        "hostId": "{{ scm_host_ids[scm_hostname] }}"
      }
    }
  ],
  "roleConfigGroups": [
    {
      "name": "mgmt-ACTIVITYMONITOR-BASE",
      "displayName": "Activity Monitor Default Group",
      "roleType": "ACTIVITYMONITOR",
      "base": true,
      "serviceRef": {
        "serviceName": "mgmt"
      },
      "config": {
        "items": [
          {
            "name": "firehose_database_host",
            "value": "{{ databases.amon.host }}:{{ databases.amon.port }}"
          }, {
            "name": "firehose_database_name",
            "value": "{{ databases.amon.name }}"
          }, {
            "name": "firehose_database_password",
            "value": "{{ databases.amon.pass }}"
          }, {
            "name": "firehose_database_type",
            "value": "{{ databases.amon.type }}"
          }, {
            "name": "firehose_database_user",
            "value": "{{ databases.amon.user }}"
          }, {
            "name" : "firehose_debug_port",
            "value" : "-1"
          }, {
            "name" : "firehose_debug_tls_port",
            "value" : "-1"
          }, {
            "name": "oom_heap_dump_dir",
            "value": "{{ oom_heap_dump_dir }}"
          }, {
            "name": "oom_heap_dump_enabled",
            "value": "false"
          }
        ]
      }
    }, {
      "name" : "mgmt-EVENTSERVER-BASE",
      "displayName" : "Event Server Default Group",
      "roleType" : "EVENTSERVER",
      "base" : true,
      "serviceRef" : {
         "serviceName" : "mgmt"
      },
      "config" : {
         "items" : [ {
           "name" : "eventserver_debug_port",
           "value" : "-1",
         } ]
      }
    }, {
      "name": "mgmt-REPORTSMANAGER-BASE",
      "displayName": "Reports Manager Default Group",
      "roleType": "REPORTSMANAGER",
      "base": true,
      "serviceRef": {
        "serviceName": "mgmt"
      },
      "config": {
        "items": [
          {
            "name": "headlamp_database_host",
            "value": "{{ databases.rman.host }}:{{ databases.rman.port }}"
          }, {
            "name": "headlamp_database_name",
            "value": "{{ databases.rman.name }}"
          }, {
            "name": "headlamp_database_password",
            "value": "{{ databases.rman.pass }}"
          }, {
            "name": "headlamp_database_type",
            "value": "{{ databases.rman.type }}"
          }, {
            "name": "headlamp_database_user",
            "value": "{{ databases.rman.user }}"
          }, {
            "name": "headlamp_scratch_dir",
            "value": "{{ headlamp_scratch_dir }}"
          }, {
            "name" : "headlamp_debug_port",
            "value" : "-1",
          }, {
            "name": "oom_heap_dump_dir",
            "value": "{{ oom_heap_dump_dir }}"
          }, {
            "name": "oom_heap_dump_enabled",
            "value": "false"
          {% if (headlamp_heapsize is defined) %}
          }, {
            "name": "headlamp_heapsize",
            "value": "{{ headlamp_heapsize }}"
          {% endif %}
          }
        ]
      }
    }, {
      "name": "mgmt-NAVIGATOR-BASE",
      "displayName": "Navigator Audit Server Default Group",
      "roleType": "NAVIGATOR",
      "base": true,
      "serviceRef": {
        "serviceName": "mgmt"
      },
      "config": {
        "items": [
          {
            "name" : "NAVIGATOR_role_env_safety_valve",
            "value" : "NAVIGATOR_EXTRA_CLASSPATH=/opt/cloudera/cm/cloudera-navigator-server/libs/cdh6/apache-log4j-extras-1.2.17.jar",
          }, {
            "name" : "log4j_safety_valve",
            "value" : "log4j.logger.auditStreamEnVision = TRACE,RFA2\nlog4j.appender.RFA2 = org.apache.log4j.rolling.RollingFileAppender\nlog4j.appender.RFA2.rollingPolicy = org.apache.log4j.rolling.TimeBasedRollingPolicy\nlog4j.appender.RFA2.rollingPolicy.FileNamePattern = {{ nav_auditstream_filename_pattern }}\nlog4j.appender.RFA2.layout = org.apache.log4j.PatternLayout\nlog4j.appender.RFA2.layout.ConversionPattern = %d{ISO8601} %m%n\nlog4j.additivity.auditStreamEnVision = false\n",
          }, {
            "name": "navigator_database_host",
            "value": "{{ databases.nav.host }}:{{ databases.nav.port }}"
          }, {
            "name": "navigator_database_name",
            "value": "{{ databases.nav.name }}"
          }, {
            "name": "navigator_database_password",
            "value": "{{ databases.nav.pass }}"
          }, {
            "name": "navigator_database_type",
            "value": "{{ databases.nav.type }}"
          }, {
            "name": "navigator_database_user",
            "value": "{{ databases.nav.user }}"
          {% if (cdh_tls) %}
          }, {
            "name" : "ssl_enabled",
            "value" : "true",
          }, {
            "name" : "ssl_server_keystore_keypassword",
            "value" : "{{ tls.keystore_password }}"
          }, {
            "name" : "ssl_server_keystore_location",
            "value" : "{{ tls.keystore_path }}"
          }, {
            "name" : "ssl_server_keystore_password",
            "value" : "{{ tls.keystore_password }}"
          }, {
            "name" : "navigator_truststore_file",
            "value" : "{{ tls.truststore_path }}"
          }, {
            "name" : "navigator_truststore_password",
            "value" : "{{ tls.truststore_password }}"
          {% endif %}
          }, {
            "name" : "navigator_debug_port",
            "value" : "-1"
          }, {
            "name": "oom_heap_dump_dir",
            "value": "{{ oom_heap_dump_dir }}"
          }, {
            "name": "oom_heap_dump_enabled",
            "value": "false"
          {% if (navigator_audit_heapsize is defined) %}
          }, {
            "name": "navigator_heapsize",
            "value": "{{ navigator_audit_heapsize }}"
          {% endif %}
          }
        ]
      }
    }, {
      "name": "mgmt-NAVIGATORMETASERVER-BASE",
      "displayName": "Navigator Metadata Server Default Group",
      "roleType": "NAVIGATORMETASERVER",
      "base": true,
      "serviceRef": {
        "serviceName": "mgmt"
      },
      "config": {
        "items": [
          {
            "name": "nav_metaserver_database_host",
            "value": "{{ databases.navms.host }}:{{ databases.navms.port }}"
          }, {
            "name": "nav_metaserver_database_name",
            "value": "{{ databases.navms.name }}"
          }, {
            "name": "nav_metaserver_database_password",
            "value": "{{ databases.navms.pass }}"
          }, {
            "name": "nav_metaserver_database_type",
            "value": "{{ databases.navms.type }}"
          }, {
            "name": "nav_metaserver_database_user",
            "value": "{{ databases.navms.user }}"
          }, {
            "name": "data_dir",
            "value": "{{ navms_data_dir }}"
          }, {
            "name": "oom_heap_dump_dir",
            "value": "{{ oom_heap_dump_dir }}"
          }, {
            "name" : "allow_usage_data",
            "value" : "false",
          }, {
            "name" : "auth_backend_order",
            "value" : "CM_THEN_EXTERNAL",
          }, {
            "name" : "external_auth_type",
            "value" : "{{ ldap_rdom.auth_type  }}",
          }, {
            "name" : "nav_ldap_bind_dn",
            "value" : "{{ ldap_rdom.bind_dn }}",
          }, {
            "name" : "nav_ldap_bind_pw",
            "value" : "{{ ldap_rdom.bind_pass }}",
          }, {
            "name" : "nav_ldap_group_search_base",
            "value" : "{{ ldap_rdom.base_dn }}",
          }, {
            "name" : "nav_ldap_group_search_filter",
            "value" : "({{ ldap_rdom.group_member_attr }}={0})",
          }, {
            "name" : "nav_ldap_groups_search_filter",
            "value" : "(&{{ ldap_rdom.group_filter }}({{ ldap_rdom.group_name_attr }}=*{0}*))",
          }, {
            "name" : "nav_ldap_url",
            "value" : "{{ ldap_rdom.url }}",
          }, {
            "name" : "nav_ldap_user_search_base",
            "value" : "{{ ldap_rdom.base_dn }}",
          }, {
            "name" : "nav_ldap_user_search_filter",
            "value" : "({{ ldap_rdom.user_name_attr }}={0})",
          }, {
            "name" : "nav_nt_domain",
            "value" : "{{ ldap_rdom.domain }}",
          {% if (navigator_metastore_heapsize is defined) %}
          }, {
            "name" : "navigator_heapsize",
            "value" : "{{ navigator_metastore_heapsize }}",
          {% endif %}
          }, {
            "name" : "oom_heap_dump_enabled",
            "value" : "false",
          }
          {% if (scm_web_tls) %}
          , {
            "name" : "ssl_enabled",
            "value" : "true",
          }, {
            "name" : "ssl_server_keystore_keypassword",
            "value" : "{{ tls.keystore_password }}",
          }, {
            "name" : "ssl_server_keystore_location",
            "value" : "{{ tls.keystore_path }}"
          }, {
            "name" : "ssl_server_keystore_password",
            "value" : "{{ tls.keystore_password }}",
          }
          {% endif %}
          , {
            "name": "oom_heap_dump_enabled",
            "value": "false"
          }
        ]
      }
    }, {
      "name": "mgmt-SERVICEMONITOR-BASE",
      "displayName": "Service Monitor Default Group",
      "roleType": "SERVICEMONITOR",
      "base": true,
      "serviceRef": {
        "serviceName": "mgmt"
      },
      "config": {
        "items": [
          {
            "name" : "firehose_debug_port",
            "value" : "-1",
          {% if (smon_heapsize is defined) %}
          }, {
            "name": "firehose_heapsize",
            "value": "{{ smon_heapsize }}"
         {% endif %}
         {% if (smon_non_java_memory is defined) %}
          }, {
            "name": "firehose_non_java_memory_bytes",
            "value": "{{ smon_non_java_memory }}"
          {% endif %}
          }, {
            "name": "firehose_storage_dir",
            "value": "{{ smon_firehose_storage_dir }}"
          }, {
            "name": "oom_heap_dump_dir",
            "value": "{{ oom_heap_dump_dir }}"
          }, {
            "name": "oom_heap_dump_enabled",
            "value": "false"
          }
        ]
      }
    }, {
      "name": "mgmt-HOSTMONITOR-BASE",
      "displayName": "Host Monitor Default Group",
      "roleType": "HOSTMONITOR",
      "base": true,
      "serviceRef": {
        "serviceName": "mgmt"
      },
      "config": {
        "items": [
          {
            "name" : "firehose_debug_port",
            "value" : "-1",
          }, {
            "name" : "firehose_debug_tls_port",
            "value" : "-1",
          }, {
            "name": "firehose_non_java_memory_bytes",
            "value": "4294967296"
          }, {
            "name": "firehose_storage_dir",
            "value": "{{ hmon_firehose_storage_dir }}"
          }, {
            "name": "oom_heap_dump_dir",
            "value": "{{ oom_heap_dump_dir }}"
          }, {
            "name": "oom_heap_dump_enabled",
            "value": "false"
          }
        ]
      }
    }
  ]
}
