{
  "items" : [ {
    "authRoles" : [ {
     "displayName" : "Cluster Administrator",
     "name" : "ROLE_CLUSTER_ADMIN",
    } ],
    "name" : "{{ ldap_rdom.cm_clu_admin}}",
    "type" : "LDAP"
  } ]
}
