{
  "items" : [ {
    "authRoles" : [],
    "name" : "{{ ldap_rdom.cm_clu_admin }}",
    "type" : "LDAP"
  }, {
    "authRoles" : [],
    "name" : "{{ ldap_rdom.cm_full_admin }}",
    "type" : "LDAP"
  }, {
    "authRoles" : [],
    "name" : "{{ ldap_rdom.cm_key_admin }}",
    "type" : "LDAP"
  }, {
    "authRoles" : [],
    "name" : "{{ ldap_rdom.cm_operator }}",
    "type" : "LDAP"
  }, {
    "authRoles" : [],
    "name" : "{{ ldap_rdom.cm_read_only }}",
    "type" : "LDAP"
  }, {
    "authRoles" : [],
    "name" : "{{ ldap_rdom.cm_user_admin }}",
    "type" : "LDAP"
  } ]
}
